$halfwhite: rgba(255, 255, 255, 0.5);
$quarterwhite: rgba(255, 255, 255, 0.25);
$darkblue: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
$orange: linear-gradient(214.02deg, #ea5f5f 6.04%, #eeaa55 92.95%);
$lightorange:#eb7b5b;
$halfblack: rgba(0, 0, 0, 0.5);

.bg-image {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-image2 {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-darkblue {
    background: $darkblue;
}

.bg-orange {
    background: $orange;
}

.bg-lightorange {
    background: $lightorange;
}

.bg-halfblack {
    background: $halfblack;
}

.lightorange {
    background: $lightorange;
}

.black {
    color: black;
}

.white {
    color: white;
}

.halfwhite {
    color: $halfwhite;
}

.halfblack {
    color: $halfblack;
}

.quarterwhite {
    color: $quarterwhite;
}

@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 600px) {
    
}



