.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jc {
    &-center {
        justify-content: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }

    &-evenly {
        justify-content: space-evenly;
    }
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

.ta {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-justify {
        display: flex;
    }
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overhidden {
    overflow: hidden;
}














